body {
    width: 901px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header h1 {
    margin: 15px 0 0 10px;
    line-height: 0.4em;
    font-family: 'Yellowtail', cursive;
    font-size: 36px;
}

#logo-flex {
    display: flex;
    align-items: center;
}

.logo-subtitle {
    font-size: 11px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: gray;
}

h1 {
    margin-bottom: 0;
    margin-top: 35px;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;

}

#subtitle p {
    text-transform: uppercase;
    margin-top: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: lightgray;
    font-size: 14px;
}

.spacer {
    margin-right: 10px;
}

.main-p {
    text-indent: 3%;
    font-family: 'Lora', serif;
    color: gray;
    margin-bottom: 20px;

}

ul {
    list-style-type: none;
    margin-top: 34px;
}

li {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    line-height: 1.55em;
    color: #6d655a;
    opacity: 0.8;
}

.strike {
    text-decoration: line-through;
}

#ingredients {
    display: flex;
    height: 305px;
    justify-content: space-around;
    background-image: url("/assets/list-bg.png");
    margin-top: 30px;
}

hr {
    background-image: url("/assets/hr-img.png");
    height: 12px;
    border: none;
    margin-top: 35px;
}

#subtitle {
    display: flex;
    justify-content: space-between
}

#author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#author img {
    margin-right: -100px; 
}

.div-spacing {
    width: 500px;
}

#author p {
    font-family: 'Lora', serif;
    color: gray;
}

#author h2 {
    font-family: 'Lora', serif;
}

button {
    width: 170px;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    background: #bc7058;
    color: white;
}

#footer-flex {
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
}

footer hr {
    width: 50%;
    background-image: none;
    border: 0.1px solid rgb(211, 211, 211);
    height: 1px;
}

footer img {
    width: 31px;
    margin-top: 18px;
}

footer p {
    font-family: 'Lora', serif;
    color: lightgray;
    font-size: 0.8em;
}

